ion-title {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    color: #fd0000;
  }

ion-searchbar{
    background-color: aqua;
    color: black;
}

ion-card{
    background-color: skyblue;
    color: black;
}
ion-card-title{
    font-weight: bold;
    font-size:200px ;
}
